<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hkapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HKAPPLICATION">
        <activity
            android:name=".DataActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".EightActivity1"
            android:exported="false" />
        <activity
            android:name=".ViewsActivity1"
            android:exported="false" />
        <activity
            android:name=".EightActivity"
            android:exported="false" />
        <activity
            android:name=".spin_1"
            android:exported="false" />
        <activity
            android:name=".SevenActivity9"
            android:exported="false" />
        <activity
            android:name=".Spinner11"
            android:exported="false" />
        <activity
            android:name=".SevenActivity8"
            android:exported="false" />
        <activity
            android:name=".SixActivity1"
            android:exported="false" />
        <activity
            android:name=".SixActivity"
            android:exported="false" />
        <activity
            android:name=".SevenActivity6"
            android:exported="false" />
        <activity
            android:name=".SevenActivity7"
            android:exported="false" />
        <activity
            android:name=".SevenActivity5"
            android:exported="false" />
        <activity
            android:name=".SevenActivity4"
            android:exported="false" />
        <activity
            android:name=".SevenActivity3"
            android:exported="false" />
        <activity
            android:name=".SevenActivity2"
            android:exported="false" />
        <activity
            android:name=".SevenActivity1"
            android:exported="false" />
        <activity
            android:name=".SevenActivity"
            android:exported="false" />
        <activity
            android:name=".FiveActivity3"
            android:exported="false" />
        <activity
            android:name=".FiveActivity2"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FiveActivity1"
            android:exported="false" />
        <activity
            android:name=".FiveActivity"
            android:exported="false" />
        <activity
            android:name=".FourActivity1"
            android:exported="false" />
        <activity
            android:name=".FourActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity2"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity1"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity222"
            android:exported="false" />
        <activity
            android:name=".Activity2"
            android:exported="false" />
        <activity
            android:name=".SecondActivity211"
            android:exported="false" />
        <activity
            android:name=".SecondActivity2"
            android:exported="false" />
        <activity
            android:name=".SecondActivity1"
            android:exported="false" />
        <activity
            android:name=".ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>